<html
  xmlns:th="https://www.thymeleaf.org/"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security5"
>
  <head>
    <div th:fragment="header">
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      />
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      />
    </div>
  </head>

  <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ECOM-SR-NIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
      <!--Category START-->
      
        <li class="nav-item dropdown" sec:authorize="hasAuthority('EMPLOYEE')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category Type
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/categorytype/register}">Add</a>
            <a class="dropdown-item" th:href="@{/categorytype/all}">View All</a>
          </div>
        </li>
        <!--Category END-->
        
        <!--Category START-->
        <li class="nav-item dropdown" sec:authorize="hasAuthority('EMPLOYEE')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/category/register}">Add</a>
            <a class="dropdown-item" th:href="@{/category/all}">View All</a>
          </div>
        </li>
        <!--Category END-->
        
         <!--Brand START-->
        <li class="nav-item dropdown" sec:authorize="hasAuthority('EMPLOYEE')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brand
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/brand/register}">Add</a>
            <a class="dropdown-item" th:href="@{/brand/all}">View All</a>
          </div>
        </li>
        <!--Brand END-->
        
        <!--Coupon START-->
        <li class="nav-item dropdown" sec:authorize="hasAuthority('SALES')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Coupon
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/coupon/register}">Add</a>
            <a class="dropdown-item" th:href="@{/coupon/all}">View All</a>
          </div>
        </li>
        <!--Coupon END-->
        
        <!--Product START-->
        <li class="nav-item dropdown" sec:authorize="hasAuthority('SALES')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Product
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/product/register}">Add</a>
            <a class="dropdown-item" th:href="@{/product/all}">View All</a>
          </div>
        </li>
        <!--Product END-->

        <!-- Shipping Start -->
        <li class="nav-item dropdown" sec:authorize="hasAuthority('SALES')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shipping
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/shipping/register}">Add</a>
            <a class="dropdown-item" th:href="@{/shipping/all}">View All</a>
          </div>
        </li>

        <!-- Shipping End -->

        <!-- Stock Start -->
        <li class="nav-item dropdown" sec:authorize="hasAuthority('SALES')">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stock
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/stock/register}">Add</a>
            <a class="dropdown-item" th:href="@{/stock/all}">View All</a>
          </div>
        </li>

        <!-- Stock End -->

        <th:block sec:authorize="hasAuthority('SALES')">
        <li class="nav-item" >
          <a class="nav-link" th:href="@{/order/all}" >Orders</a>
        </li>

        <li class="nav-item" >
          <a class="nav-link" th:href="@{/sales/reports}">Reports</a>
        </li>

      </th:block>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/emp/reports}" sec:authorize="hasAuthority('EMPLOYEE')">Reports</a>
          <a class="nav-link" th:href="@{/sales/reports}" sec:authorize="hasAuthority('SALES')">Reports</a>
        </li>

        <!-- USER Start -->
        <div sec:authorize="hasAuthority('ADMIN')">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/user/register}">Add</a>
            <a class="dropdown-item" th:href="@{/user/all}">View All</a>
          </div>
        </li>
        </div>
        <!-- USER End -->
        
      </ul>

      <!-- --------------------------------------------------------------- -->

      <ul class="navbar nav ms-auto">
        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span>[[${session.userOb.displayName}]]</span>
            <span sec:authentication="principal.authorities"></span
          ></a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/logout}">Logout</a>
            <!-- <a
              class="dropdown-item"
              th:href="@{/patient/showProfile}"
              sec:authorize="hasAuthority('PATIENT')"
              >View Profile</a
            >

            <a
              class="dropdown-item"
              th:href="@{/doctor/showProfile}"
              sec:authorize="hasAuthority('DOCTOR')"
              >View Profile</a
            >
            <a class="dropdown-item" th:href="@{/user/changepassword}"
              >Change Password</a
            > -->
          </div>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link text-white" th:href="@{/login}">Login</a>
        </li>
      </ul>
      </div>
    
  </nav>
  
  

  </html>