<html 
  xmlns:th="https://www.thymeleaf.org/"
  xmlns:sec="https://www.thymeleaf.org/extras/spring-security5"
  >

<head th:fragment="header">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
</head>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ECOM-SR-NIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      
      <!--Shipping START-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Search By
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/}">Brand</a>
          <a class="dropdown-item" th:href="@{/search/type}">CategoryType</a>
        </div>
      </li>
      <!--Shipping END-->

      <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/order/customerOrders}">My Orders</a>

      </li>
      
     
      
    </ul>

    <ul class="navbar nav ms-auto">

      <li class="nav-item " sec:authorize="isAuthenticated()">
        <a class="nav-link" th:href="@{/cart/all}" >
        	<i style="color:white" class="fa fa-cart-arrow-down fa-lg" aria-hidden="true"></i>
        	<span class="badge badge-primary" th:if="${session.cartItemCount>0}">[[${session.cartItemCount}]]</span>
        </a>
      </li>

      <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span>[[${session.userOb.displayName}]]</span>
          <span sec:authentication="principal.authorities"></span
        ></a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/logout}">Logout</a>
          <!-- <a
            class="dropdown-item"
            th:href="@{/patient/showProfile}"
            sec:authorize="hasAuthority('PATIENT')"
            >View Profile</a
          >

          <a
            class="dropdown-item"
            th:href="@{/doctor/showProfile}"
            sec:authorize="hasAuthority('DOCTOR')"
            >View Profile</a
          >
          <a class="dropdown-item" th:href="@{/user/changepassword}"
            >Change Password</a
          > -->
        </div>
      </li>
      <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link text-white" th:href="@{/login}">Login</a>
      

      <li class="nav-item" sec:authorize="isAnonymous()">
        <a class="nav-link text-white" th:href="@{/customer/register}">Register</a>
      </li>
    </ul>
    
  </div>
</nav>


  <div th:fragment="productForm">
    <form th:action="@{/search/byProduct}">
      <input type="text" name="productName" class="form-control" placeholder="Enter Product name"/>
      <button type="submit" class="btn btn-info">Search</button>
    </form>
  </div>


</html>
