<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragment/commonui::header"></div>
</head>
<body>

    <div th:replace="fragment/commonui::menu"></div>

    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h3>BRAND DATA</h3>
              </div>

              <div class="card-body">
                  <table class="table table-hover">
                      <tr class="bg-secondary text-white">
                          <th>#</th>
                          <th>IMAGE</th>
                          <th>NAME</th>
                          <th>CODE</th>
                          <th>TAG_LINE</th>
                          <th>NOTE</th>
                          <th>OPERATION</th>
                      </tr>

                      <tr th:each="ob, i:${list}">
                        <td>[[${i.count}]]</td>
                        <td>
                            <img th:src="${ob.imageLink}" width=70px height="70px">
                        </td>
                        <td>[[${ob.name}]]</td>
                        <td>[[${ob.code}]]</td>
                        <td>[[${ob.tagLine}]]</td>
                        <td>[[${ob.note}]]</td>
                        <td>
                            <a class="btn btn-primary btn-sm" th:href="@{/brand/edit(id=${ob.id})}">EDIT</a>
                            <a class="btn btn-danger btn-sm" th:href="@{/brand/delete(id=${ob.id})}">DELETE</a>
                        </td>
                      </tr>
                  </table>
              </div>

              <div class="card-footer">
                  <span>[[${message}]]</span>
              </div>
        </div>
    </div>
    
</body>
</html>