<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragment/customerUi::header"></div>
  </head>
  <body>
    <div th:insert="fragment/customerUi::menu"></div>

    <div class="container">

        <br/>
		<br/>
		<div th:insert="fragment/customerUi :: productForm"></div>

        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4>ALL BRANDS EXIST IN E_COMSR</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <th:block th:each="ob:${list}">
                        <div class="col-4">
                            <a th:href="@{/search/productsByBrand(brandId=${ob[0]})}">
                                <img th:src="${ob[1]}" width="100px" height="50px">
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>
