<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragment/customerUi::header"></div>
</head>
<body>
    <div th:replace="fragment/customerUi::menu"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-center">
                <h3>CART ITEMS PAGE!</h3>
            </div>

            <div class="card-body">
                <table class="table table-border table-hover">
                    <tr class="bg-warning">
                        <td>IMAGE</td>
                        <td>NAME</td>
                        <td>COST</td>
                        <td>QTY</td>
                        <td>TOTAL VALUE</td>
                        <td colspan="2">OPERATIONS</td>
                    </tr>

                    <tr th:each="ob:${list}">
                        <td><img th:src="${ob.product.imageLink}" width="15%" height="15%"></td>
                        <td>[[${ob.product.name}]]</td>
                        <td>[[${ob.product.cost}]]</td>
                        <td>[[${ob.qty}]]</td>
                        <td>[[${ob.product.cost * ob.qty}]]</td>

                        <td>
                            <a th:href="@{/cart/increase(itemId=${ob.id})}" class="btn btn-success">+</a>
                            <a th:if="${ob.qty>1}" th:href="@{/cart/decrease(itemId=${ob.id})}" class="btn btn-warning">-</a>
                        </td>
                        <td><a th:href='@{/cart/remove(itemId=${ob.id})}' class="btn btn-danger">REMOVE</a></td>
                    </tr>
                </table>

                <a th:if="${list.size()>0}" class="btn btn-success" th:href="@{/order/create}">Place order</a>
				<b th:if="${list.isEmpty()}" class="text-danger">NO ITEMS IN CART</b>
			</div>
			<div th:if="${message!=null}" class="card-footer bg-info text-white">
				<b>[[${message}]]</b>
			</div>

            </div>
        </div>
    </div>
    
</body>
</html>