<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragment/customerUi::header"></div>
  </head>
  <body>
    <div th:insert="fragment/customerUi::menu"></div>

    <div class="container">

        <br/>
		<br/>
		<div th:insert="fragment/customerUi :: productForm"></div>

        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4>ALL TYPES EXIST IN E_COMSR</h4>
            </div>

            <div class="card-body">
                <div class="list-group">
                    <th:block th:each="ob:${list}">
                        <div class="list-group-item list-group-item-action">
                            <a th:href="@{/search/getCategories(typeId=${ob.id})}"> <h3>[[${ob.name}]]</h3> </a>
                            <span>[[${ob.note}]]</span>
                        </div>
                    </th:block> 
                   </div>
   
                    
                </div>
            </div>
        </div>
    </div>

  </body>
</html>
