<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragment/commonui::header"></div>

    <style>
        .row{
            margin-bottom: 5px;
        }
    </style>
  </head>
  <body>

    <div th:replace="fragment/commonui::menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>CATEGORY REGISTER</h3>
        </div>

        <div class="card-body">
          <form th:action="@{/category/update}" method="post" th:object = "${category}">

            <input type="hidden" th:field="*{id}">
            <div class="row">
              <div class="col-2">
                <label for="name">NAME</label>
              </div>

              <div class="col-4">
                <input class="form-control" th:field="*{name}" />
              </div>

              <div class="col-4">
                  <span id="nameError"></span>
              </div>
            </div>

            <div class="row">
                <div class="col-2">
                  <label for="alias">ALIAS</label>
                </div>
  
                <div class="col-4">
                  <input class="form-control" th:field="*{alias}" />
                </div>
  
                <div class="col-4">
                    <span id="aliasError"></span>
                </div>
              </div>

            <div class="row">
                <div class="col-2">
                  <label for="note">NOTE</label>
                </div>
  
                <div class="col-4">
                  <textarea class="form-control" th:field="*{note}"></textarea>
                </div>

                <div class="col-4">
                    <span id="noteError"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <label for="status">STATUS</label>
                </div>
  
                <div class="col-4">
                  <select class="form-control" th:field="*{status}">
                      <option value="">--SELECT--</option>
                      <option value="ACTIVE">ACTIVE</option>
                      <option value="ACTIVE">INACTIVE</option>
                  </select>
                </div>

                <div class="col-4">
                    <span id="statusError"></span>
                </div>
              </div>

              <div class="row">
                <div class="col-2">
                  <label for="categoryType">CATEGORY TYPE</label>
                </div>
  
                <div class="col-4">
                  <select class="form-control" th:field="*{categoryType}">
                      <option value="">--SELECT--</option>
                      <option th:each="ob:${cats}" th:value="${ob.key}">[[${ob.value}]]</option>
                      
                  </select>
                </div>

                <div class="col-4">
                    <span id="categoryTypeError"></span>
                </div>
              </div>

              <button type="submit">UPDATE</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
