<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragment/customerUi::header"></div>
  </head>
  <body>
    <div th:replace="fragment/customerUi::menu"></div>

    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3>CUSTOMER ORDER PAGE</h3>
        </div>

        <div class="card-body">
          <table class="table table-hover table-bordered">

            <tr class="bg-warning">
                <th>#</th>
                <th>STATUS</th>
                <th class="text-center">ITEMS</th>
                <th>OPERATION</th>
            </tr>

            <tr th:each="ob, i:${list}">
                <td>[[${i.count}]]</td>
                <td>[[${ob.status}]]</td>
                <td>
                    <table class="table">
                        <tr class="bg-info">
                            <th>NAME</th>
                            <th>COST</th>
                            <th>QTY</th>
                            <th>LINE AMOUNT</th>
                        </tr>

                        <tr th:each="item:${ob.orderItems}">
                            <td>
                                <img th:src="${item.product.imageLink}" width="8%" height="8%">
                                [[${item.product.name}]]
                            </td>
                            <td>[[${item.product.cost}]]</td>
                            <td>[[${item.qty}]]</td>
                            <td>[[${item.lineAmount}]]</td>
                        </tr>
                    </table>
                    <h4 class="text-center">GRAND TOTAL: [[${ob.grandTotal}]]</h4>
                </td>

                <td>
                    <a th:href="@{/order/cancel(id=${ob.id})}" class="btn btn-danger">CANCEL ORDER</a>
                    <br/> <br/>
                    <a th:if="${ob.status==OPEN}" th:href="@{/payment/billpay(id=${ob.id})}" class="btn btn-success">
                      PAY AMOUNT</a>
                      <br/> <br/>
                    <a th:unless="${ob.status=='OPEN'}" th:href="@{/payment/invoice(id=${ob.id})}" class="btn btn-primary">
                      PRINT INVOICE</a>
                </td>
            </tr>
          </table>
        </div>
        <div class="card-footer bg-info text-white">
            <b>[[${message}]]</b>
        </div>

      </div>
    </div>
  </body>
</html>
