<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragment/commonui::header"></div>
    <style>
      .row {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div th:replace="fragment/commonui::menu"></div>
    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>PRODUCT REGISTER</h3>
        </div>

        <div class="card-body">
          <form th:action="@{/product/save}" method="post">
            <!-- row-1 -->
            <div class="row">
              <div class="col-2">
                <label for="name">NAME</label>
              </div>
              <div class="col-6">
                <input class="form-control" name="name" id="name" type="text" />
              </div>

              <div class="col-4">
                <span id="nameError"></span>
              </div>
            </div>

            <!-- row-2 -->
            <div class="row">
              <div class="col-2">
                <label for="shortDesc">SHORT DESCRIPTION</label>
              </div>
              <div class="col-6">
                <input
                  class="form-control"
                  name="shortDesc"
                  id="shortDesc"
                  type="text"
                />
              </div>

              <div class="col-4">
                <span id="shortDescError"></span>
              </div>
            </div>

            <!-- row-3 -->
            <div class="row">
              <div class="col-2">
                <label for="fullDesc">FULL DESCRIPTION</label>
              </div>
              <div class="col-6">
                <textarea
                  class="form-control"
                  name="fullDesc"
                  id="fullDesc"
                  type="text"
                ></textarea>
              </div>

              <div class="col-4">
                <span id="fullDescError"></span>
              </div>
            </div>

            <!-- row-4 -->
            <div class="row">
              <div class="col-2">
                <label for="brand">BRAND</label>
              </div>
              <div class="col-6">
                <select class="form-control" id="brand" name="brand.id">
                  <option value="">--SELECT--</option>
                  <option th:each="ob:${brands}" th:value="${ob.key}">
                    [[${ob.value}]]
                  </option>
                </select>
              </div>

              <div class="col-4">
                <span id="brandError"></span>
              </div>
            </div>

            <!-- row-5 -->
            <div class="row">
              <div class="col-2">
                <label for="category">CATEGORY</label>
              </div>
              <div class="col-6">
                <select class="form-control" id="category" name="category.id">
                  <option value="">--SELECT--</option>
                  <option th:each="ob:${cats}" th:value="${ob.key}">
                    [[${ob.value}]]
                  </option>
                </select>
              </div>

              <div class="col-4">
                <span id="categoryError"></span>
              </div>
            </div>

            <!-- row-6 -->
            <div class="row">
              <div class="col-2">
                <label for="status">STATUS</label>
              </div>
              <div class="col-6">
                <input name="status" type="radio" value="ACTIVE" />
                ACTIVE
                <input
                  name="status"
                  type="radio"
                  value="INACTIVE"
                />
                INACTIVE
              </div>

              <div class="col-4">
                <span id="statusError"></span>
              </div>
            </div>

            <!-- row-7 -->
            <div class="row">
              <div class="col-2">
                <label for="inStock">IN_STOCK</label>
              </div>
              <div class="col-6">
                <input name="inStock" type="radio" value="yes" />
                YES
                <input name="inStock" type="radio" value="no" /> NO
              </div>

              <div class="col-4">
                <span id="inStockError"></span>
              </div>
            </div>

            <!-- row-8 -->
            <div class="row">
              <div class="col-2">
                <label for="cost">COST</label>
              </div>
              <div class="col-6">
                <input
                  class="form-control"
                  name="cost"
                  id="cost"
                  type="number"
                />
              </div>

              <div class="col-4">
                <span id="costError"></span>
              </div>
            </div>

            <!-- row-9 -->
            <div class="row">
              <div class="col-2">
                <label for="len">DIMENSIONS</label>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-3">
                    <label for="len">Len</label>
                    <input
                      class="form-control"
                      name="len"
                      id="len"
                      type="text"
                    />
                  </div>

                  <div class="col-3">
                    <label for="width">Width</label>
                    <input
                      class="form-control"
                      name="width"
                      id="width"
                      type="text"
                    />
                  </div>

                  <div class="col-3">
                    <label for="height">Height</label>
                    <input
                      class="form-control"
                      name="height"
                      id="height"
                      type="text"
                    />
                  </div>

                  <div class="col-3">
                    <label for="dimUnit">Unit</label>
                    <select
                      class="form-control"
                      name="dimUnit"
                      id="dimUnit"
                    >
                    <option value="">--SELECT--</option>
                    <option value="MM">MM</option>
                    <option value="CM">CM</option>
                    <option value="CM">INCH</option>
                    <option value="METER">METER</option>

                </select>
                  </div>

                </div>
              </div>

              <div class="col-4">
                <span id="dimError"></span>
              </div>
            </div>

            <!-- row-10 -->
            <div class="row">
              <div class="col-2">
                <label for="weight">WEIGHT</label>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                    <input
                      class="form-control"
                      name="weight"
                      id="weight"
                      type="text"
                    />
                  </div>

                  <div class="col-6">
                      <select class="form-control" id="weightUnit" name="weightUnit">
                          <option value="">--SELECT--</option>
                          <option value="GRAM">GRAM</option>
                          <option value="KG">KG</option>
                          <option value="POUND">POUND</option>
                          <option value="LITER">LITER</option>
                      </select>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <span id="weightError"></span>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label for="image">IMAGE</label>
              </div>

              <div class="col-4">
                <input type="file" id="image" name="image"  onchange="upload()"/>
                <input hidden="true" name="imageLink" id="imageLink">
              </div>

              <div class="col-6">
                  <span id="imageError"></span>
              </div>
            </div>

            <!-- row-11 -->
            <div class="row">
              <div class="col-2">
                <label for="note">NOTE</label>
              </div>
              <div class="col-6">
                <textarea class="form-control" name="note" id="note" type="text"></textarea>
              </div>

              <div class="col-4">
                <span id="noteError"></span>
              </div>
            </div>

            <button class="btn btn-info text-white" type="submit">
              REGISTER
            </button>
          </form>
        </div>
        <div class="card-footer">
            <span>[[${message}]]</span>
        </div>
      </div>
    </div>

    <script th:src="@{/myjs/upload_file_ob.js}"></script>
  </body>
</html>
