<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragment/customerUi::header"></div>

    <style>
        .card{
            margin-bottom: 5px;
        }
    </style>
  </head>
  <body>
    <div th:insert="fragment/customerUi::menu"></div>

    <div class="container">

      <br/>
		<br/>
		<div th:insert="fragment/customerUi :: productForm"></div>
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>Show Products</h3>
        </div>

        <div class="card-body">
          <div class="card" th:each="ob:${list}">
            <div class="row">
              <div class="col-4">
                <img th:src="${ob[1]}" width="100px" height="200px" />
              </div>

              <div class="col-6">
                <h3>[[${ob[2]}]]</h3>

                <ul>
                  <li>
                    <h4>[[${ob[3]}]]</h4>
                  </li>

                  <li>
                    <b>Cost: [[${ob[4]}]]</b>
                  </li>
                </ul>
              </div>

              <div class="col-2">
                <a
                  th:href="@{/search/productView(prodId=${ob[0]})}"
                  class="btn btn-info"
                  >View Products</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
