<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragment/customerUi :: header"></div>
<body>
<div th:insert="fragment/customerUi :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-body">
				
				<div class="row">
				 	<div class="col-4">
				 		<img th:src="${pob.imageLink}" />
				 	</div>
				 	<div class="col-8">
						<table class="table">
							<tr>
								<td>NAME</td>
								<td class="bg-info text-white">[[${pob.name}]]</td>
							</tr>
							<tr>
								<td>COST</td>
								<td class="bg-info text-white">[[${pob.cost}]]</td>
							</tr>
							<tr>
								<td>BRAND</td>
								<td class="bg-info text-white">[[${pob.brand.name}]]</td>
							</tr>
							<tr>
								<td>Details</td>
								<td>
								<ul>
									<li>[[${pob.shortDesc}]]</li>
									<li>[[${pob.fullDesc}]]</li>
									<li>LENGTH:[[${pob.len}]] x WIDTH: [[${pob.width}]] x HEIGHT: [[${pob.height}]] </li>
									<li>WEIGHT : [[${pob.weight}]] ( [[${pob.weightUnit}]] ) </li>
								</ul>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<a class="btn btn-success" th:href="@{/cart/add(prodId=${pob.id})}" >ADD TO CART</a>
								</td>
							</tr>
						</table> 	
				 	</div>
				</div>
			</div>

			<div class="card-footer bg-info text-white text-center">
				<span>[[${message}]]</span>
			</div>
			
		</div>
	</div>
</body>

</html>
