<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragment/commonui :: header"></div>

<body>
	<div th:insert="fragment/commonui :: menu"></div>
	<div class="container">

		<div class="card">
			<div class="card-header bg-primary text-white">
				<h3>SALES REPORT PAGE</h3>
			</div>
			<div class="card-body">
				<div class="alert alert-danger">Click below Links to Download Excel Data</div>
				<a th:href="@{/sales/exportProducts}" type="button" class="btn btn-outline-primary btn-lg">
					Products : [[${products}]]
				</a>

				<img th:src="${/orderA.jpg}">
				<img th:src="${/orderB.jpg}">
				
				
			</div>

		</div>
	</div>
</body>

</html>
