<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragment/commonui::header"></div>
</head>
<body>
    <div th:replace="fragment/commonui::menu"></div>
    <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h3>STOCK DATA</h3>
              </div>

              <div class="card-body">
                  <table class="table table-hover">
                      <tr class="bg-secondary text-white">
                          <th>#</th>
                          <th>PRODUCT NAME</th>
                          <th>STOCK</th>
                          <th>SOLD</th>
                          <th>OPERATION</th>
                      </tr>

                      <tr th:each="ob, i:${list}">
                        <td>[[${i.count}]]</td>
                        <td>[[${ob.product.name}]]</td>
                        <td>[[${ob.qoh}]]</td>
                        <td>[[${ob.sold}]]</td>
                        <td>
                            <a class="btn btn-primary btn-sm" th:href="@{/stock/edit(id=${ob.id})}">EDIT</a>
                        </td>
                      </tr>
                  </table>
              </div>

              <div class="card-footer">
                  <span>[[${message}]]</span>
              </div>
        </div>
    </div>
    
</body>
</html>