<!DOCTYPE html>
<html lang="en">
  <head>
    <div th:replace="fragment/commonui::header"></div>

    <style>
      .row {
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div th:replace="fragment/commonui::menu"></div>

    <div class="container">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h3>STOCK UPDATE PAGE</h3>
        </div>

        <div class="card-body">
          <form th:action="@{/stock/update}" method="post" id="stockForm" th:object="${stock}">
              <input type="hidden" th:field="*{id}">
            <div class="row">
              <div class="col-2">
                <label for="product">PRODUCT</label>
              </div>

              <div class="col-4">
                <select class="form-control" id="product" th:field="*{product.id}" readonly>
                  <option value="">--SELECT--</option>
                  <option th:each="ob:${products}" th:value="${ob.key}">
                    [[${ob.value}]]
                  </option>
                </select>
              </div>

              <div class="col-6">
                <span id="productError"></span>
              </div>
            </div>

            <div class="row">
              <div class="col-2">
                <label for="count">COUNT</label>
              </div>

              <div class="col-4">
                <input
                  class="form-control"
                  id="count"
                  name="count"
                  type="number"
                  min="1"
                  value="1"
                />
              </div>

              <div class="col-6">
                <span id="countError"></span>
              </div>
            </div>

            <button class="btn btn-info text-white justify-center" type="submit">UPDATE</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
